## Data types

### Numbers

In [1]:
a = '10'
b = float(a)
print(type(b))
print(type(a))

<class 'float'>
<class 'str'>

In [2]:
round(98.5)

98

In [3]:
# This is simple python comment

In [4]:
'''
Hello
How r u
'''

'\nHello\nHow r u\n'

In [5]:
Name='Anant' 
Age=9 
Age='30'

In [6]:
x = y = z = 20

In [7]:
print(id(x))
print(id(y))
print(id(z))

1372752866192
1372752866192
1372752866192

In [8]:
z = 10

In [9]:
x , y , z = 20, 40, 60

In [10]:
print(id(x))
print(id(y))
print(id(z))

1372752866192
1372752866832
1372753055952

In [11]:
Age

'30'

In [12]:
a = 'hi'

In [13]:
print(id(a))

1372762085488

In [14]:
a = "how r u"

In [15]:
print(id(a))

1372833619632

In [16]:
a = '''how r u
, i am fine,
Where r u now,
I am at BBSR'''

In [17]:
print(id(a))

1372833765280

In [18]:
a

'how r u\n, i am fine,\nWhere r u now,\nI am at BBSR'

In [19]:
import os
print(os.getcwd())

C:\Users\user\python code

In [20]:
1 + 1

2

In [21]:
1 * 3

3

In [22]:
1 / 2

0.5

In [23]:
2 ** 4

16

In [24]:
4 % 2

0

In [25]:
5 % 2

1

In [26]:
(2 + 3) * (5 + 5)

50

In [27]:
a = 5
b = a +3
b

8

In [28]:
c = 5
c+= 3
c

8

In [29]:
c/=2
c

4.0

In [30]:
c = c/2
c

2.0

In [31]:
a = 15
a//=2

In [32]:
a

7

In [33]:
print(abs(-1))

1

In [34]:
from math import ceil
ceil(3.4)

4

In [35]:
import math
math.ceil(11.01)

12

### Variable Assignment

In [36]:
# Can not start with number or special characters
name_of_var = 2

In [37]:
x = 2
y = 3

In [38]:
z = x + y

In [39]:
z

5

### Strings

In [40]:
'single \'quotes'

"single 'quotes"

In [41]:
"double quotes"

'double quotes'

In [42]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

In [43]:
'''hi
how r u
i am fine
'''

'hi\nhow r u\ni am fine\n'

### Printing

In [44]:
x = 'hello'

In [45]:
x

'hello'

In [46]:
print(x)

hello

In [50]:
num = input()
name = input()

deepak
21

In [48]:
print('My number is: {two}, and my name is: {one}'.format(one=num,two=name))

My number is: deepak, and my name is: 23

In [49]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 23, and my name is: deepak

### Lists

In [32]:
[1,2,3]

[1, 2, 3]

In [33]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [51]:
my_list = ['a','b','c']

In [52]:
my_list.append('d')

In [53]:
my_list

['a', 'b', 'c', 'd']

In [54]:
my_list[0]

'a'

In [55]:
my_list[1]

'b'

In [56]:
my_list[1:]

['b', 'c', 'd']

In [57]:
my_list[:1]

['a']

In [58]:
my_list[0] = 'NEW'

In [59]:
my_list

['NEW', 'b', 'c', 'd']

In [60]:
nest = [1,2,3,[4,5,['target']]]

In [61]:
len(nest)

4

In [62]:
nest[3]

[4, 5, ['target']]

In [63]:
nest[3][2]

['target']

In [64]:
nest[3][2][0]

'target'

### Dictionaries

In [65]:
d = {1:['item1',1,2],'key2':'item1'}

In [66]:
d

{1: ['item1', 1, 2], 'key2': 'item1'}

In [67]:
d[1]

['item1', 1, 2]

### Booleans

In [68]:
True

True

In [69]:
False

False

### Tuples

In [70]:
t = (1,2,3)

In [71]:
a= list(t)

In [72]:
type(a)

list

In [73]:
a[0] = 'NEW'

In [74]:
a

['NEW', 2, 3]

In [75]:
t[0]

1

In [76]:
a[0]

'NEW'

In [77]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [78]:
{1,2,3}

{1, 2, 3}

In [79]:
S= {1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

In [80]:
len(S)

3

In [81]:
S

{1, 2, 3}

## Comparison Operators

In [82]:
1 > 2

False

In [83]:
1 < 2

True

In [84]:
1 >= 1

True

In [85]:
1 <= 4

True

In [86]:
1 == 1

True

In [87]:
'hi' != 'Hi'

True

In [88]:
print(False == False)

True

## Logic Operators

In [89]:
(1 > 2) and (2 < 3)

False

In [90]:
(1 > 2) or (2 < 3)

True

In [91]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [92]:
if 1 < 2:
    print('Yep!')

Yep!

In [93]:
if 1 < 2:
    print('yep!')

yep!

In [94]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [95]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [96]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [97]:
seq = [1,2,3,4,5]

In [98]:
for item in seq:
    print(item)

1
2
3
4
5

In [99]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [100]:
for jelly in range(len(seq)):
    
    if jelly == 2:
        print(seq[1:jelly])

[2]

## while Loops

In [101]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [102]:
range(5)

range(0, 5)

In [103]:
for i in range(5):
    print(i)

0
1
2
3
4

In [104]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [105]:
x = [1,2,3,4]

In [106]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [107]:
[item**2 for item in x]

[1, 4, 9, 16]

## functions

In [108]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)
    print('hi')

In [109]:
my_func

In [110]:
my_func()

default
hi

In [111]:
my_func('new param')

new param
hi

In [112]:
my_func(param1='new param')

new param
hi

In [113]:
def square(x):
    return x**2

In [114]:
out = square(2)

In [115]:
print(out)

4

## lambda expressions

In [116]:
def times2(var):
    return var*2

In [117]:
times2(2)

4

In [118]:
lambda var: var*2

## map and filter

In [119]:
seq = [1,2,3,4,5]

In [120]:
map(times2,seq)

In [121]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [122]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [123]:
filter(lambda item: item%2 == 0,seq)

In [124]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [125]:
st = 'hello my name is Sam'

In [126]:
st.lower()

'hello my name is sam'

In [127]:
st.upper()

'HELLO MY NAME IS SAM'

In [128]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [129]:
tweet = 'Go Sports! #Sports'

In [130]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [131]:
tweet.split('#')[1]

'Sports'

In [132]:
d.keys()

dict_keys([1, 'key2'])

In [133]:
d.items()

dict_items([(1, ['item1', 1, 2]), ('key2', 'item1')])

In [134]:
lst = [1,2,3]

In [135]:
lst.pop()

3

In [136]:
lst

[1, 2]

In [137]:
'x' in [1,2,3]

False

In [138]:
'x' in ['x','y','z']

True

# Great Job!